.presentation {
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
}


.social-media {
    display: flex;
    justify-content: center;

    a {
        gap: 3px;
    }

}